@font-face {
  font-family: 'Gotham Pro';
  src: url('~@/assets/fonts/Gotham-Pro.woff2') format('woff2'),
  url('~@/assets/fonts/Gotham-Pro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('~@/assets/fonts/Gotham-Pro-Medium.woff2') format('woff2'),
  url('~@/assets/fonts/Gotham-Pro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('~@/assets/fonts/Gotham-Pro-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/Gotham-Pro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('~@/assets/fonts/MuseoSansCyrl-500.woff2') format('woff2'),
  url('~@/assets/fonts/MuseoSansCyrl-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
