// fonts:
$primary-font: 'Gotham Pro', 'Roboto', sans-serif;
$secondary-font: 'Museo Sans Cyrl', 'Roboto', sans-serif;

// colors
$primary-font-color: #29435D;
$secondary-font-color: #8391B2;
$dodgerBlue: #2F93FE;
$anakiwa: #B3D8FF;
$malibu: #71B6FF;
$blueRibbon: #0971F5;
$silver: #C8C8C8;
$mercury: #E5E5E5;

// animation
$speed: .2s;

// custom-media
$mobile-screen: 375px;
$wideMobile-screen: 576px;
$tablet-screen: 768px;
$laptop-screen: 960px;
